<!DOCTYPE html>
<html>
  <head>
    <title>G1 ちゃんねる</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags 'application','data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_logo"></div>
      <h1>G1 ちゃんねる</h1>
      <p><%= user_in_session.name %>さん</p>
      <ul class="header_menu">
        <li><%= link_to("投稿する", "#") %></li>
        <li><%= link_to("プロフィール", profile_path(user_in_session)) %></li>
        <li><%= link_to("ユーザー設定", edit_user_path(user_in_session)) %></li>
        <li><%= link_to("サインアウト", sign_out_path) %></li>
      </ul>
    </header>

    <%= render partial: "layouts/user_navigation" %>
    <%= yield %>
  </body>
</html>
