<!DOCTYPE html>
<html>
  <head>
    <title>G1 ちゃんねる</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/user_navigation" %>

    <div>
      <% if notice.present? %>
        <p class="flash-message notice"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="flash-message alert"><%= alert %></p>
      <% end %>
    </div>

    <div><%= link_to 'マイページ', mypage_path %></div>
      <% if user_signed_in? %>
        <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
      <% else %>
        <div><%= link_to 'ログイン', new_user_session_path %></div>
        <div><%= link_to 'アカウント作成', new_user_registration_path %></div>
      <% end %>

    <%= yield %>
  </body>
</html>
