<%#
  スレッド一覧画面の構造
  URL パス: /posts
%>


<main class="posts-index">
  <h1 class="top">
    <%= link_to 'G1ちゃんねる', '/' %>
  </h1>

<!--G1ちゃんねるの概要を表示-->
  <h1>
    <span class="common">G1ちゃんねる概要</span>
  </h1>
  <div style="line-height:1em;">
    <p><font size="5">まだ開発中です。これから機能を拡充していきます!</font></p>
  </div>
  <br>

<!--スレッドタイトル一覧を表示(仕様は100件表示)-->
  <h2>
    <span class="common">この掲示板の主なスレッド</span>
  </h2>
  <div class="thread-list">
    <div style="margin: 0; padding: 0 0 0 0.5em; border-radius: 0.50em / 0.50em; padding: 0 0 1.0em 0.5em; height: 25em; overflow-y: scroll">
      <% @posts.each do |post| %>
        <p class="thread-detail">
          <%= link_to "#{post.title}", post_path(post) %>
        </p>
      <% end %>
    </div>
  </div>
  <b>
    <a href="#new_thread">新規スレッド作成はこちら</a>
  </b>

<!--スレッド一覧を表示(仕様は10件表示)-->
  <h2>
    <span class="common">スレッド一覧</span>
  </h2>
<!--作成中なのでとりあえず改行してます-->
<br>
  <br>
  <br>
  <br>
  <br>
<br>

<!--新規スレッド作成-->
<!--action部分はまだ出来ていないと思うので""にしてます-->
<%# 投稿フォーム %>
<%= form_with model: @post do |form| %>
  <h2>
    <span class="common">新規スレッド作成</span>
  </h2>
  <div class="mb-5">
    <%= form.submit "新規スレッド作成" %>
    <br>
  </div>
  <div class="mb-5">
    <%= form.label :title, "スレッドタイトル：" %>
    <%= form.text_field :title, :class => 'text-field', :placeholder => 'スレッドタイトル' %>
    <br>
  </div>
  <div class="mb-5">
    <%= form.label :title, "名前　　　　　　：" %>
    <%= form.text_field :class => 'text-field', :placeholder => '名前' %>
    <br>
  </div>
  <div class="mb-5">
    <%= form.text_area :detail, :class => 'text-area-field', :placeholder => '内容' %>
  </div>
<% end %>
</main>
