<%#
  スレッド一覧画面の構造
  URL パス: /posts
%>


<main class="posts-index">
  <h1 class="top">
    <%= link_to 'G1ちゃんねる', '/' %>
  </h1>

<!--G1ちゃんねるの概要を表示-->
  <h1>
    <span class="common">G1ちゃんねる概要</span>
  </h1>
  <div style="line-height:1em;">
    <p><font size="5">まだ開発中です。これから機能を拡充していきます!</font></p>
  </div>
  <br>

<!--スレッドタイトル一覧を表示(仕様は100件表示)-->
  <h2>
    <span class="common">この掲示板の主なスレッド</span>
  </h2>
  <div class="thread-list">
    <div style="margin: 0; padding: 0 0 0 0.5em; border-radius: 0.50em / 0.50em; padding: 0 0 1.0em 0.5em; height: 25em; overflow-y: scroll">
      <% @posts.each do |post| %>
        <p class="thread-detail">
          <%= link_to post.title, post_path(post) %>
        </p>
      <% end %>
    </div>
  </div>

<!--スレッド一覧を表示(仕様は10件表示)-->
  <h2>
    <span class="common">スレッド抜粋一覧</span>
  </h2>

<!--編集中-->
<%# 各スレッドごとにコメントを表示 %>
<div class="posts">
  <% @posts.first(10).each do |post| %>
    <div style="border: solid 1px #000; border-radius: 12px; margin-bottom: 20px; padding: 8px">
      <h2><%= post.title %></h2>
      <div class="post" id="post-<%= post.id %>-comment-<%= post.comments.first.serial_id %>">
        <div class="meta">
          <span class="number">
            <%= post.comments.first.serial_id %>
          </span>

          <% if !post.comments.first.user_id.nil? %>
            <span class="name">
              <%= @users.find(comment.user_id).name %> ◆
            </span>
          <% else %>
            <span class="name">
              <%= post.comments.first.contributor.empty? ? '名無しさん' : post.comments.first.contributor %>
            </span>
          <% end %>

          <span class="date">
            <%= post.comments.first.created_at.strftime('%Y/%m/%d %H:%M') %>
          </span>
        </div>
        <div class="post-content">
          <span class="escaped"><%= simple_format post.comments.first.comment %></p>
        </div>
      </div>
      <% if post.comments.size > 1 %>
        <% post.comments.drop(1).last(3).each do |comment| %>
          <div class="post" id="post-<%= post.id %>-comment-<%= comment.serial_id %>">
            <div class="meta">
              <span class="number">
                <%= comment.serial_id %>
              </span>

              <% if !comment.user_id.nil? %>
                <span class="name">
                  <%= @users.find(comment.user_id).name %> ◆
                </span>
              <% else %>
                <span class="name">
                  <%= comment.contributor.empty? ? '名無しさん' : comment.contributor %>
                </span>
              <% end %>

              <span class="date">
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
              </span>
            </div>
            <div class="post-content">
              <span class="escaped"><%= simple_format comment.comment %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to "全部読む", post_path(post) %>
    </div>
  <% end %>
</div>

<%# スレッド作成フォーム %>
<%= form_with model: @post do |form| %>
  <h2>
    <span class="common">新規スレッド作成</span>
  </h2>
  <div class="mb-5">
    <%= form.submit "新規スレッド作成" %>
    <br>
  </div>
  <div class="mb-5">
    <%= form.label :title, "スレッドタイトル：" %>
    <%= form.text_field :title, :class => 'text-field', :placeholder => 'スレッドタイトル' %>
    <br>
  </div>
  <%= form.fields_for :comments do |comment| %>
    <div class="mb-5">
      <%= comment.label "名前　　　　　　：" %>
      <%= comment.text_field :contributor, :class => 'text-field', :placeholder => '名前' %>
      <br>
    </div>
    <div class="mb-5">
      <%= comment.text_area :comment, :class => 'text-area-field', :placeholder => '内容' %>
    </div>
  <% end %>
<% end %>
</main>
