<%#
  スレッド詳細画面（兼投稿一覧画面）の構造
  URL パス: /posts/:post_id
%>

<main class="posts-show">
  <h1><%= @post_title %></h1>

  <%# 投稿 %>
  <div class="posts">
    <% @comments.each do |comment| %>
      <div class="post" id="comment-<%= comment.serial_id %>">
        <div class="meta">
          <span class="number">
            <%= comment.serial_id %>
          </span>

          <% if !comment.user_id.nil? %>
            <span class="name">
              <%= @users.find(comment.user_id).name %> ◆
            </span>
          <% else %>
            <span class="name">
              <%= comment.contributor.empty? ? '名無しさん' : comment.contributor %>
            </span>
          <% end %>

          <span class="date">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          </span>
        </div>

        <div class="post-content">
          <span class="escaped"><%= simple_format comment.comment %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to '検索結果に戻る', :back, class: "mr-1r" %>
  <%= link_to '掲示板に戻る', '/' %>

  <%# 投稿フォーム %>
  <div class="form-box">
    <h2 class="form-header">レスを投稿する</h2>

    <%= form_with model: @comment do |form| %>
      <% if current_user %>
        <%= form.hidden_field :contributor, :value => '' %>
      <% else %>
        <div>
          <%= form.text_field :contributor, :class => 'one-line-post-field', :placeholder => '名前' %>
        </div>
      <% end %>

      <div>
        <%= form.text_area :comment, :class => 'multi-line-post-field', :placeholder => 'コメント内容' %>
      </div>

      <%= form.hidden_field :post_id, :value => params[:id] %>
      <% if current_user %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
      <% end %>

      <button class="submit-button" type="submit" name="submit">書き込む</button>
    <% end %>
  </div>
</main>
