<h1>Users#show</h1>

<h3>名前</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>生年月日</h3>
<%= @user.birthday %>
<h3>職業</h3>
<%= @user.occupation %>

<h3>プロフィール</h3>
<%= @user.profile%>


<p>Find me in app/views/users/show.html.erb</p>
