<%#
  ユーザー登録画面の構造
  URL パス: /sign_up
%>

<main class="users-new">
  <%# ここにユーザー新規登録画面を実装する %>
  <div class="sign_up_page">
  <h1></h1>
  <div class="sign_up_form">
    <h2>サインアップページ</h2>
    <%= form_with model: @user, url: sign_up_process_path, local: true do |f| %>
      <%= f.text_field :name, placeholder: "ユーザー名" %>
      <%= f.email_field :email, placeholder: "メールアドレス" %>
      <%= f.password_field :password, placeholder: "パスワード" %>
      <button>サインアップ</button>
      <p>ユーザー登録済みの方は<%= link_to "サインインへ", sign_in_path %></p>
    <% end %>
  </div>
</div>


</main>
